{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<!-- popular_program_area_start  -->
<div class="popular_program_area section__padding program__page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center">
                    <h3>{{ title }}</h3>
                </div>
            </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div aria-labelledby="nav-home-tab" class="tab-pane fade show active" id="nav-home" role="tabpanel">
                <div class="row">
                    {% for category in categories %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single__program">
                            {% if category.image %}
                            <div class="program_thumb">
                                <img alt="" src= "{{ category.image.url }}">
                            </div>
                            {% endif %}
                            <div class="program__content">
                                <span>{{ category.span }}</span>
                                <h4>{{ category.name }}</h4>
                                <p>{{ category.description }}</p>
                                <a class="boxed-btn5" href="{{ category.slug }}">Continue</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}