{% extends 'main/base.html' %}
<body>
{% block content %}
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <!-- single_carouse -->
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Boost up your skills <br>
                                with a new way of <br>
                                learning.</h3>
                            <a class="boxed-btn3" href="{% url 'goods:courses' %}">Get Start</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!--/ single_carouse -->
        <!-- single_carouse -->
        <div class="single_slider  d-flex align-items-center slider_bg_1">
        </div>
    </div>
{% endblock %}
</body>


